# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
# Gemfiles may be regenerated
# depending on system environment
# and jekyll configuration
Gemfile.lock

# macOS
.DS_Store

# Text editor artifacts
.swp
.tmp
.temp
Gemfile.lock
