---
layout: default
title: Natron
---
<section class="herosection" style="background-image: url(img/hero.jpg)">
  <div class="herosection-container">
    <div>
      <h1 class="h1 large-dropshadow-text"><span class="word-wrap-section">Visual Effects&nbsp;</span><span class="word-wrap-section">Without Limits.</span></h1>
      <p class="hero-subheader large-dropshadow-text"><span class="word-wrap-section">Node-based compositing,&nbsp;</span><span class="word-wrap-section">backed by the freedom&nbsp;<span class="word-wrap-section">of open-source.</span></span></p>
      {% include download-btn.html 
         name="Download Natron"
         href="#download"
      %}
    </div>
  </div>
</section>
<div class="stdsection">
  <div class="herosection-bylinecontainer section-container">
    <h5 class="heresection-byline-text">Art by: <a href="https://www.artstation.com/parallelmayhem">Sam Morse-Brown</a></h5>
  </div>
</div>
<section class="stdsection">
  <div class="section-container">
    <div class="index-features-titlecontainer">
      <h2 class="h2 center-text">Tools you can count on</h2>
      <p class="p-body center-text">
        The standard 2D compositing toolkit you already know and love.
      </p>
    </div>
    <div class="index-features">
      <ul>
        {% include feature-card.html 
            icon="openfx.svg"
            title="OpenFX Plugin Support"
            detail="Industry-standard OFX plug-in support"
        %}

        {% include feature-card.html 
            icon="tracking.svg"
            title="2D Tracking"
            detail="Fast, pixel-perfect tracking toolset"
        %}

        {% include feature-card.html 
            icon="roto.svg"
            title="Roto"
            detail="Multi-layered rotoscoping toolset with per-vertex feathering"
        %}

        {% include feature-card.html 
            icon="keyer.svg"
            title="Keying"
            detail="Industry-proven chroma keying and matte refinement tools"
        %}

        {% include feature-card.html 
            icon="dopesheet.svg"
            title="Curve & dope-sheet editors"
            detail="Curve editor and dope sheet for complete control over keyframes"
        %}

        {% include feature-card.html 
            icon="gpu.svg"
            title="Headless rendering"
            detail="Smooth headless integration with render farms for distributed network rendering"
        %}
      </ul>
    </div>
  </div>
</section>
<section class="stdsection">
  <div class="section-container">
    <div class="index-aboutnodes">
      <div class="index-aboutnodes-imagecontainer">
        <img src="{% base %}img/natron-screenshot.png" alt="A flatscreen monitor displaying Natron's node-based interface">
      </div>
      <div class="index-aboutnodes-textcontainer">
        <div>
          <h2 class="h2">Work smarter with nodes</h2>
          <p class="p-body">
            No more hunting through nested pre-comps!
            Nuke and Fusion users will be right at home with Natron's node-based workflow. Group, merge, and tinker to achieve just about any effect. Create pixel perfect mattes, set-extensions, Hollywood-style VFX and more, all with Natron's offerings.
            <br />
            <br />
            Build, group, and save your own node snippets to create and share custom tools and presets. Natron features drag-and-drop installation of <a href="https://github.com/NatronGitHub/natron-plugins" class="intext-link intext-link-glow">community-made PyPlugs (Gizmos).</a>          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- To update releases paste the link to the new build in the href="" attribute within the appropriate <a> tag.  <a> tags can be created or removed as more or fewer are required over time.  Be sure to update the version number and release date too!-->

<section class="stdsection" id="download">
  <div class="section-container">
    <div class="index-downloads-titlecontainer">
      <h2 class="h2 center-text">Download Natron</h2>
      <p class="p-body center-text">
        Latest version: {% for post in site.categories.release limit:1 %}{{post.version}}{% endfor %}
      </p>
      <p class="p-small center-text">
        Released {% for post in site.categories.release limit:1 %}{{ post.date | date: "%B %d, %Y" }}{% endfor %}: <a href="{% for post in site.categories.release limit:1 %}{{post.url}}{% endfor %}" class="intext-link intext-link-glow">Changelog<i class='bx bx-right-arrow-alt'></i></a>
      </p>
      <p class="p-small center-text">
        <a href="{% base %}system-requirements" class="intext-link intext-link-glow">System requirements</a>
      </p>
    </div>
    <div class="index-downloads-oscontainer">
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx bxl-apple'></i>macOS</h3>
        </div>
        <div>
          <p class="p-small">
            Supports Snow Leopard up to the latest version of macOS on Intel hardware.
          </p>
        </div>
        <div class="index-downloads-os-links">
          {% for version in site.downloads.macos.versions %}
          <a href="{% if version[1].url == "" %}{{site.natron.release.downloadurl}}Natron-{{site.natron.release.version}}{{version[1].suffix}} {% else %} {{version[1].url}} {% endif %}" class="p-small intext-link intext-link-glow">
            {{version[1].title}}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx bxl-windows'></i>Windows</h3>
        </div>
        <div>
          <p class="p-small">
            Supports Windows 8.1/10/11 on 64 bit, x86 hardware.
          </p>
        </div>
        <div class="index-downloads-os-links">
          {% for version in site.downloads.windows.versions %}
          <a href="{% if version[1].url == "" %}{{site.natron.release.downloadurl}}Natron-{{site.natron.release.version}}{{version[1].suffix}} {% else %} {{version[1].url}} {% endif %}" class="p-small intext-link intext-link-glow">
            {{version[1].title}}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="index-downloads-os">
        <div>
          <h3 class="h3"><i class='bx bxl-tux'></i>GNU/Linux</h3>
        </div>
        <div>
          <p class="p-small">
            Supports any x86_64 distribution with X11, glibc 2.17+ and libgcc 4.8+.
          </p>
        </div>
        <div class="index-downloads-os-links">
          {% for version in site.downloads.linux.versions %}
          <a href="{% if version[1].url == "" %}{{site.natron.release.downloadurl}}Natron-{{site.natron.release.version}}{{version[1].suffix}} {% else %} {{version[1].url}}{% endif %}" class="p-small intext-link intext-link-glow">
            {{version[1].title}}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="index-downloads-other">
      <h4 class="h4 center-text">Other Downloads:</h4>
      <p class="p-small center-text">
        <a href="{{ site.downloads.other.freshports }}" class="intext-link intext-link-glow">FreeBSD: Freshports</a>
        <a href="{{ site.downloads.other.examples }}" class="intext-link intext-link-glow">Sample projects</a>
        <a href="{{ site.downloads.other.natron-plugins }}" class="intext-link intext-link-glow">Community Plugins</a>
        <a href="{{ site.downloads.other.natron-scripts }}" class="intext-link intext-link-glow">Community Scripts</a>
      </p>
    </div>
  </div>
</section>
<section class="stdsection">
  <div class="section-container">
    <div class="index-community-titlecontainer">
      <h2 class="h2 center-text">Join the community!</h2>
    </div>
    <div class="index-community-cardgrid">
      {% include community-card.html
          name="github"
          title="Contribute on GitHub"
          detail="Source code, bug reports, and build guides for developers!"
          icon="bxl-github"
      %}
      {% include community-card.html
          name="discord"
          title="Join us on Discord"
          detail="Join our Discord server to get access to fast-paced community support, feedback and events!"
          icon="bxl-discord"
      %}
      {% include community-card.html
          name="forum"
          title="Discuss on the forum"
          detail="Join the official forum on PIXLS.US to discuss all things Natron!"
          icon="bxl-discourse"
      %}
      {% include community-card.html
          name="facebook"
          title="Find us on Facebook"
          detail="Join the NatronNation group on Facebook!"
          icon="bxl-facebook-circle"
      %}
    </div>
  </div>
</section>
