---
layout: features
title: 2D Compositing
excerpt: text
collection: features
---

{% include feature-detail.html
   title="2D Tracking"
   img="https://picsum.photos/1280/720"
   img_alt=""
   detail="
    Track difficult movements with ease!
    <br />
    <br />
    Natron's tracker can handle and correct a variety of footage types with single point or perspective tracking. Luminance variation correction and manual keyframes ensure get solid tracks even in tricky shots."
%}

{% include feature-detail.html
   title="Paint"
   img="https://picsum.photos/1280/720"
   img_alt=""
   justify="right"
   detail="
    Remove objects, clone backgrounds, and fix it in post!
    <br />
    <br />
    Natron features a vector-based RotoPaint node, making tasks like object removal, dust removal, and creating garbage mattes a breeze. Paint strokes are available for a variety of brushes. Additionally, per-point and global feather, motion blur, blending modes and individual or hierarchical 2D transformations are fully supported."
%}

{% include feature-detail.html
   title="Animation"
   img="https://picsum.photos/1280/720"
   img_alt=""
   detail="
    Natron offers a simple and efficient way to manage keyframes with an accurate and intuitive curve editor. You can set expressions on animation curves to create fluid, believable motion for objects. Natron also incorporates a fully featured dope-sheet to view all animations at a glance, or to quickly edit clips and keyframes."
%}