---
layout: features
title: Extensibility
excerpt: text
collection: features
---
{% include feature-detail.html
   title="Expressions"
   img="https://picsum.photos/1280/720"
   img_alt=""
   detail="
    Link just about any two parameters with Natron's broad support for expressions. Automate your nodes with mathematical functions, and extend expressions with Python. Programmic commands not appealing to you? Natron also offers a GUI-based system for quickly linking any two controls, and expressions are visible within the curve editor."
%}

{% include feature-detail.html
   title="Python API"
   img="https://picsum.photos/1280/720"
   img_alt=""
   justify="right"
   detail="
    Make Natron your own with Natron's powerful scripting support. The Python API can be used for full pipeline integration and automating common tasks and procedures. PySide is also included to allow users to build custom user interfaces via Python and the Qt framework."
%}

{% include feature-detail.html
   title="OpenFX Support"
   img="../../img/feature-images/feature-ofx.png"
   img_alt="OpenFX plugin standard logo"
   justify="right"
   detail="
    Natron is compliant with the OpenFX standard, allowing you to tap into the vast ecosystem of commercial OFX plugins. Never worry about missing the functionality of your OFX plugins, with Natron's support for 
    [RevisionFX products](http://www.revisionfx.com), [NeatVideo denoiser](https://www.neatvideo.com), [Furnace by The Foundry](http://www.thefoundry.co.uk/products/furnace/), [KeyLight](http://www.thefoundry.co.uk/products/plugins/keylight/), [GenArts Sapphire](http://www.genarts.com/software/sapphire/overview), [Red Giant Universe](http://www.redgiant.com/universe/), [Ignite by HitFilm](https://hitfilm.com/ignite), and many more!"
%}

{% include feature-detail.html
   title="PyPlugs"
   img="https://picsum.photos/1280/720"
   img_alt=""
   detail="
    User-created custom nodes can be created visually within Natron by grouping existing nodes and exported with the \"PyPlug\" exporter.
    <br />
    <br />
    Various tools created by the commuity can be found in [Natron's community plugins repository](https://github.com/NatronGitHub/natron-plugins) on GitHub."
%}

{% include feature-detail.html
   title="Shadertoy Integration"
   img="../../img/feature-images/feature-shadertoy.png"
   img_alt="Shadertoy WebGL shaders logo"
   justify="right"
   detail="
    Make cinematic, high-performance, real-time effects with Natron's support for Shadertoy shaders. Create generative art and procedural effects using shadertoys, or use any shader found on [shadertoy.com](https://www.shadertoy.com/) or [Cineshader](https://cineshader.com/gallery). Natron optimizes your shadertoys by outputting as 2D images to the graph, enabling you to use proxies for better performance."
%}

{% include feature-detail.html
   title="GMIC Integration"
   img="../../img/feature-images/feature-gmic.png"
   img_alt="GMIC image-processing plugins logo"
   justify="right"
   detail="
    Natron integrates with the G'MIC library, providing full-featured open-source image processing capabilities to Natron. More than 500 filters, effects, and retouching tools from G'MIC can be directly accessible from Natron, including color grades, artistic filters, deformations, patterns, shadows, and more!"
%}