---
layout: features
title: Pipeline
excerpt: text
collection: features
---

{% include feature-detail.html
   title="OCIO Support"
   img="../../img/feature-images/feature-ocio.jpg"
   img_alt="OpenColorIO (OCIO) logo"
   detail="
    OpenColorIO (OCIO), the open-source color management solution from Sony Picture Imageworks, is integrated into Natron's native color management system. With OCIO, Natron's profile produces consistent colors across all compatible applications, simplifying the color management process."
%}

{% include feature-detail.html
   title="Headless Rendering"
   img="../../img/feature-images/feature-headless-2.svg"
   img_alt="A log of Natron rendering in the terminal"
   justify="right"
   detail="
    Natron projects can be rendered directly from the command line allowing you to harness the full power of your render farm, even with GPU acceleration.
    <br />
    <br />
    Render-farm integrations are readily available for [Afanasy](https://cgru.readthedocs.io/en/latest/software/natron.html), [Deadline](https://docs.thinkboxsoftware.com/products/deadline/10.1/1_User%20Manual/manual/app-natron.html?highlight=natron), and [Prism](https://prism-pipeline.readthedocs.io/en/latest/index/feature_reference/#natron)."
%}

{% include feature-detail.html
   title="Free and Open-Source"
   img="../../img/feature-images/feature-opensource.jpg"
   img_alt="The open-source logo"
   detail="
    Natron licensed under the GNU GPL license, and developed in the open entirely by the community. It is free software, and yours to keep forever!
    <br />
    <br />
    Source code is available on [our GitHub](https://github.com/NatronGitHub/Natron)."
%}

{% include feature-detail.html
   title="Human-Readable Files"
   img="../../img/feature-images/feature-xml.png"
   img_alt="An image of a Natron project file open in a text editor"
   justify="right"
   detail="
    All Natron files are saved as plaintext XML. While Natron's autosave feature is fairly robust, in dire situations broken comps can be recovered with your choice of text editor!"
%}
