<footer class="stdsection">
  <div class="section-container">
    <div class="horizontal-rule"></div>
    <div class="footer-logocontainer">
      <a class="footer-logo-link" href="{% base %}">
        <object type="image/svg+xml" class="footer-logo" data="{% base %}/img/natron-wordmark-logo.svg"></object>
      </a>
    </div>
    <div class="footer-linkscontainer">
      <nav aria-label="main">
        <h4 class="h4">Explore</h4>
        <ul class="footer-links-list">
          <li>
            <a href="{% base %}">Home</a>
          </li>
          <li>
            <a href="{% base %}/features/2d-compositing">Features</a>
          </li>
          <li>
            <a href="{% base %}/news">News</a>
          </li>
          <li>
            <a href="http://natron.readthedocs.io">Docs</a>
          </li>
          <li>
            <a href="{% base %}/about">About</a>
          </li>
        </ul>
      </nav>
      <div class="footer-tutorialcontainer">
        <h4 class="h4">Learn</h4>
        <ul class="footer-links-list">
          <li>
            <a>Getting Started</a>
          </li>
          <li>
            <a>Demo Files</a>
          </li>
        </ul>
      </div>
      <div class="footer-communitycontainer">
        <h4 class="h4">Community</h4>
        <p class="p-small">Follow us on social media for the latest on Natron!</p>
        <div>
          <a title="GitHub" href="{{site.github}}">
            <i class='bx bxl-github'></i>
          </a>
          <a title="Forum" href="{{site.forum}}">
            <i class='bx bxl-discourse'></i>
          </a>
          <!-- <a title="Twitter" href="{{site.twitter}}">
            <i class='bx bxl-twitter'></i>
          </a> -->
          <a title="Discord" href="{{site.discord}}">
            <i class='bx bxl-discord'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
