<footer class="stdsection">
  <div class="section-container">
    <div class="footer-rule"></div>
    <div class="footer-logocontainer">
       <object type="image/svg+xml" class="footer-logo" data="{{base}}/img/natron-wordmark-logo.svg"></object>
    </div>
    <div class="footer-linkscontainer">
      <nav aria-label="main">
        <h4 class="h4">Explore</h4>
        <ul class="footer-links-list">
          <li>
            <a href="{{base}}">Home</a>
          </li>
          <li>
            <a href="http://natron.readthedocs.io">Docs</a>
          </li>
          <li>
            <a href="{{base}}/features">Features</a>
          </li>
          <li>
            <a href="{{base}}/brand">Brand</a>
          </li>
        </ul>
      </nav>
      <div class="footer-tutorialcontainer">
        <h4 class="h4">Learn</h4>
        <ul class="footer-links-list">
          <li>
            <a>Getting Started</a>
          </li>
          <li>
            <a>Demo Files</a>
          </li>
        </ul>
      </div>
      <div class="footer-communitycontainer">
        <h4 class="h4">Natron Community Channels</h4>
        <p class="p-small">Follow us on social media for the latest on Natron!</p>
        <div>
          <a href="">
            <i class='bx bxl-twitter'></i>
          </a>
          <a href="">
            <i class='bx bxl-discord'></i>
          </a>
          <a href="">
            <i class='bx bxl-github'></i>
          </a>
          <a href="">
            <i class='bx bxl-discourse'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>