<nav class="nav">
  <div class="nav-container">
    <div class="nav-logocontainer">
      <a href="{{base}}/index">
        <object class="nav-logo" type="image/svg+xml" data="{{base}}/img/natron-wordmark-logo.svg">

        </object>

      </a>
    </div>
    <ul class="nav-menulist">
      <li>
        <a href="{{base}}/features">Features</a>
      </li>
      <li>
        <a href="https://natron.readthedocs.io/en/rb-2.4/">Docs</a>
      </li>
    </ul>
    <div class="nav-sociallinks">
      <a href="https://github.com/NatronGitHub/Natron">
        <i class='bx bxl-github'></i>
      </a>
      <a href="https://discuss.pixls.us/c/software/natron">
        <i class='bx bxl-discourse'></i>
      </a>
      <a href="https://twitter.com/natronvfx">
        <i class='bx bxl-twitter'></i>
      </a>
      <a href="https://discordapp.com/invite/xWAQzPF">
        <i class='bx bxl-discord'></i>
      </a>
    </div>
  </div>
</nav>