.features-linkscontainer {
  padding: 0;
  margin-bottom: 8rem;
  margin-top: 4rem;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;

  a {
    color: var(--grey);
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--grey);
    font-variation-settings: 'wght' 600;
  }

  a.features-navhovered,
  a:hover {
    color: var(--white);
    font-variation-settings: 'wght' 700;
    transition-duration: $hovertransition;
  }

  a:before {
    display: block;
    content: "";
    position: relative;
    height: 0.25rem;
    width: 100%;
    top: 2.2rem;
    background: $brandgradient;
    transition: width 0.5s ease;
    // These properties hide the lines
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all $hovertransition ease-in-out 0s;
  }

  a:hover:before {
    // These properties un-hide the lines
    visibility: visible;
    transform-origin: left center;
    transform: scaleX(1);
  }
  // Show a line under the current page
  a.features-navhovered:before {
    display: block;
    content: "";
    position: relative;
    height: 0.25rem;
    width: 100%;
    top: 2.2rem;
    background: $brandgradient;
    visibility: visible;
    transform: scaleX(1);
  }
}

.herosection-img {
  min-height: 35rem;
}

.features-featurecontainer {
  margin-bottom: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.features-imagecontainer {
  margin-right: 5vw;
  width: 100%;
  max-width: 640px;
  flex-shrink: 1;
}

.features-featureimage {
  width: 100%;
  border-radius: 0.5rem;
}

.features-textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 530px;
  flex-shrink: 1;
}

.features-reversedsection {
  .features-imagecontainer {
    margin-right: 0;
    margin-left: 5vw;
  }

  .features-featurecontainer {
    flex-direction: row-reverse;
  }
}
@include mq($from: mobile, $until: tablet) {
  .features-linkscontainer {
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 1rem;

    li {
      margin-bottom: 2rem;
    }
  }
}
@include mq($from: mobile, $until: desktop) {
  .features-featurecontainer {
    flex-direction: column !important;
    align-items: center;
    margin-bottom: 4rem;
  }

  .features-imagecontainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }

  .h3 {
    text-align: center;
  }
}