// For hero section settings see _global.scss
// Feature cards section
.index-features-titlecontainer {
  margin-top: 6rem;
}

.index-features {
  margin-top: 5rem;

  ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
  }

  li {
    padding: 40px;
  }

  img {
    height: 60px;
    margin-bottom: 1rem;
  }

  h4 {
    color: var(--offwhite);
  }

  p {
    max-width: 15rem;
    color: var(--offwhite);
  }
  @include mq($from: mobile, $until: tablet) {
    ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  li {
    padding: 20px;
  }

  p {
    max-width: 100%;
  }
  @include mq($from: tablet, $until: desktop) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }

    p {
      max-width: 100%;
    }
  }
}

.index-featurecard {
  text-align: left;
}
@include mq($from: mobile, $until: tablet) {
  .index-featurecard {
    text-align: center;
  }
}
// About nodes section
.index-aboutnodes {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 58fr 42fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.index-aboutnodes-imagecontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;

  img {
    width: 100%;
  }
}

.index-aboutnodes-textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    line-height: 150%;
  }
}
@include mq($from: mobile, $until: desktop) {
  .index-aboutnodes {
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    h2 {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .index-aboutnodes-imagecontainer,
  .index-aboutnodes-textcontainer {
    margin-top: 4rem;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
// Downloads section
.index-downloads-titlecontainer {
  margin-top: 8rem;

  .p-small {
    color: var(--grey);
  }
}

.index-downloads-oscontainer {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  text-align: center;
}

.index-downloads-os {
  display: grid;
  grid-template-rows: 4rem 5.8rem 1fr;

  .p-small {
    margin-bottom: 1.2rem;
  }

  i {
    position: relative;
    font-size: 3rem;
    top: 0.6rem;
    margin-right: 0.5rem;
  }

  h3 {
    margin-bottom: 0;
    white-space: nowrap;
  }

  p.p-small {
    color: var(--grey);
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.index-downloads-other {
  margin-top: 4rem;

  a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@include mq($from: mobile, $until: desktop) {
  .index-downloads-oscontainer {
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }

  .index-downloads-os {
    grid-template-rows: auto;
  }
}
// Community section
.index-community-titlecontainer {
  margin-top: 8rem;
}

.index-community-cardgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@include mq($from: mobile, $until: desktop) {
  .index-community-cardgrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .index-card {
    margin: 1.5rem 0 !important;
  }
}

.index-community-cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.index-card {
  margin: 3.5rem;
  display: block;
  text-decoration: none;
  color: var(--offwhite);
  border-radius: 1.5rem;
  display: flex;
  height: 10rem;
  max-width: 28rem;
  background: $brandgradient;
  transition-duration: $hovertransition;
}

.index-card:hover {
  transition-duration: $hovertransition;
  transform: scale(102%);
  color: var(--white);
  box-shadow: $hoverglow;
}

.index-card-icon {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.index-card-text {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}