// For hero section settings see _global.scss

.index-features-titlecontainer {
  margin-top: 5rem;
  background-color: red;
}

.index-features {
  margin-top: 5rem;

  ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
  }

  @media only screen and (max-width: 640px) {
    ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  li {
    padding: 40px;
  }

  img {
    height: 60px
  }

  .index-features-title {
    padding-top: 0.5rem;
    margin-bottom: -0.8rem;
  }

  h4 {
    display: inline;
  }

  p {
    max-width: 15rem;
  }

}

.index-aboutnodes {
  margin-top: 10rem;
  display: flex;
}

.index-aboutnodes-imagecontainer {
  max-width: 750px;
  width: 200%;
  flex-grow: 2;
  flex-shrink: 1;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.index-aboutnodes-textcontainer {
  max-width: 530px;
  margin-left: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}