.nav {
  background-color: var(--desatpruple);
  display: flex;
  justify-content: center;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-container {
  padding: 0 20px;
  max-width: 1340px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logocontainer {
  position: relative;
  top: 2px;
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.nav-logo {
  width: 100%;
  fill: var(--grey);
  color: var(--grey);
  transition-duration: $hovertransition;
}

.nav-logo:hover {
  fill: var(--white);
  color: var(--white);
  transition-duration: $hovertransition;
}

.nav-menulist {
  margin: 0;
  padding: 0 1rem 0 1rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-grow: 1;

  li {
    display: inline;
    position: relative;
  }

  a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: var(--grey);
    font-variation-settings: 'wght' 600;
    vertical-align: bottom;
    transition-duration: $hovertransition;
  }

  a:hover {
    color: var(--white);
    font-variation-settings: 'wght' 700;
    transition-duration: $hovertransition;
  }

  a:before {
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 100%;
    bottom: -0.5rem;
    background: $brandgradient;
    transition: width 0.5s ease;
    // These properties hide the lines
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all $hovertransition ease-in-out 0s;
  }

  a:hover:before {
    // These properties un-hide the lines
    visibility: visible;
    transform-origin: left center;
    transform: scaleX(1);
  }
}

.nav-sociallinks {
  width: 100%;
  max-width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  i {
    font-size: 1.5rem;
    vertical-align: bottom;
  }

  a {
    text-decoration: none;
    color: var(--grey);
    transition-duration: $hovertransition;
  }

  a:hover {
    color: var(--white);
    transition-duration: $hovertransition;
  }
}