.nav {
  background-color: var(--offblack);
  display: flex;
  justify-content: center;
  height: 72px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-container {
  padding: 0 20px;
  max-width: 1340px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logocontainer {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.nav-logo {
  height: 32px;
  vertical-align: bottom;
  fill: red !important;
  pointer-events: none;
}

.nav-menulist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-grow: 1;

  a {
    text-decoration: none;
    font-size: 15px;
    color: var(--grey);
    font-variation-settings: 'wght' 600;
    vertical-align: bottom;
  }
}

.nav-sociallinks {
  width: 100%;
  max-width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  i {
    font-size: 24px;
    vertical-align: bottom;
  }

  a {
    text-decoration: none;
    color: var(--grey);
  }
}