<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="wrapper">
      <section class="herosection herosection-img" style="background-image: url({% base %}/img/feature-images/feature-hero.png); min-height: 35rem;">
        <div class="herosection-container">
          <div>
            <h1 class="h1 large-dropshadow-text">Natronʼs Features</h1>
            <p class="hero-subheader large-dropshadow-text"><span class="word-wrap-section">Whether you’re an experienced compositor <span class="word-wrap-section">or a beginner artist, </span></span><span class="word-wrap-section">Natron provides an arsenal of <span class="word-wrap-section">tools at your disposal.</span></span></p>
          </div>
        </div>
      </section>
      <nav class="stdsection gradient-top">
        <div class="section-container">
          <ul class="features-linkscontainer">
            <!-- Generate a list of everything in the features collection -->
            {% for features in site.features %}
            <!-- Check if the page is current, if so assign these styles -->
            {% if page.url == features.url %}
            <li>
              <a href="{% base %}{{ features.url }}" class="features-navhovered" style="color:var(--white); font-variation-settings: 'wght' 700; visibility: visible;">{{ features.title }}</a>
            </li>
            {% endif %}
            <!-- For all other pages assign these styles -->
            {% if page.url != features.url %}
            <li>
              <a href="{% base %}{{ features.url }}">{{ features.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
      <article class="stdsection">
        <div class="section-container">
          {{content}}
        </div>
      </article>
    </div>
    {% include footer.html %}
  </body>
</html>
