<html lang="{{ site.lang | default: "en-US" }}">
{% include baseurl.html %}
{% include head.html %}

<body>
    {% include nav.html %}
    <div class="wrapper">
        <!-- <section class="herosection" style="background-image: url({{base}}/img/feature-images/feature-hero.png); min-height: 35rem;">
            <div class="herosection-container">
                <div>
                    <h1 class="h1 large-dropshadow-text">Natronʼs Features</h1>
                    <p class="hero-subheader large-dropshadow-text"><span class="word-wrap-section">Whether you’re an experienced compositor <span class="word-wrap-section">or a beginner artist, </span></span><span class="word-wrap-section">Natron provides an arsenal of <span class="word-wrap-section">tools at your disposal.</span></span></p>
                </div>
            </div>
        </section> -->
        <section class="newsmain">
            <article class="spotlight-article"></article>
            <div class="grid-articles">

            </div>
        </section>
        <article class="stdsection">
            <div class="section-container">
                {{content}}
            </div>
        </article>
    </div>
    {% include footer.html %}
</body>

</html>